
#landing{
    width: 100%;
    height: 100vh;
    background-image: url(./images/landback.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand{
    font-family: cursive;
    font-weight: bolder;
    
}
#signupbtn,#loginbtn{
    border:none;
    padding: 6px 24px;
    border-radius: 15px;
    border: 1.5px solid black;
    color: black;
}
#signupbtn:hover,#loginbtn:hover{
    border: none;
    background-color: orangered;
}
.closebtn{
    border: none;
    outline: none;
}
.closebtn:hover,.closebtn:active{
    border: 1.5px solid orangered ;
    background-color: orangered;
    
}
/* .modal-fade{
    border: 2px solid orangered;
    border-radius: 20px;
} */
.modal-dialog {

    border: 4px solid orangered;
    border-radius: 15px;
}
.modal-body input {
    outline: none;
    border: none; 
    width: 100%;
    height: 100%;
    text-align: center;
    color: orangered;
    border-bottom: 1.5px solid orangered;
}
.modal-body input:hover,.modal-body input:focus,.modal-body input:active{
    box-shadow: 4px 4px 4px orangered;
    border-width: 2px; 
}

#SignupSubmit,#LoginSubmit{
    border: 1.5px solid orange;
    padding: 6px 25px;
    background-color: orangered;
    border-radius: 20px;

}
#SignupSubmit:hover,#LoginSubmit:hover{
    border: none;
    background-color: orangered;

}